/**
 * Admin Layout Styles
 * Used by: All admin pages
 */

.admin-main-container {
    display: flex;
    width: 100%;
    gap: 25px;
    overflow: hidden;
}

.admin-main-content {
    margin-left: calc(var(--sidebar-width) + var(--spacing-sm) + 10px);
    width: var(--main-content-width);
    background: linear-gradient(0deg, var(--color-bg-overlay) 0%, var(--color-bg-overlay) 100%), var(--color-bg-white);
    padding: var(--spacing-xl);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xl);
    min-height: 100vh;
}

.admin-sub-container-1 {
   display: flex;
    gap: var(--spacing-md);
}

.admin-sub-container-2 {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-md);
}
