* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.client-card {
    width: 80%;
    background-color: var(--color-bg-sky);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 20px;
    border-radius: 15px;
    gap: 16px;
}

.client-card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.client-card-content {
    display: flex;
    flex-direction: column;
}

.client-card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.client-card-info span {
    font-size: 14px;
    color: var(--color-text-secondary);
}

.client-card-buttons {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.client-card-buttons .btn-join {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 7px 12px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .column {
        flex-direction: column;
    }

    .client-card {
        width: 100%;
        flex-direction: column;
    }

    .client-card img {
        width: 100%;
        height: 180px;
    }
}
